<header>
  <h1>
    <a href="./" class="logo">YIF</a>
  </h1>
  <nav>
    <a routerLink="./universities">Університети</a>
    <a routerLink="./universities">Напрями</a>
  </nav>

  <div class="auth">
    <button class="btn">Вхід</button>
    <button class="btn">Реєстрація</button>
    <a [routerLink]="['/', 'universities']">Університети</a>
    <a [routerLink]="['/', 'schools']">Школи</a>
    <a [routerLink]="['/', 'universities']">Напрями</a>
    <a routerLink="./user">Профіль</a>
  </nav>

  <div class="auth">
    <button class="btn">
      <a [routerLink]="['/client', 'dashboard']">Особистий кабінет</a>
    </button>
  </div>
</header>

<router-outlet></router-outlet>