$darkBlue: #12335e;
$gray: #afbecf;
$black: #000000;
$white: #ffffff;
$red: #ec615b;
$green: #06a141;

$lightBlue_1: #bad0e5;
$lightBlue: #d6e5f2;
$lightBlue_3: #f2f9ff;

@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./assets/fonts/nunito/Nunito-Regular.woff) format("truetype");
}

.btn {
  color: $darkBlue;
  border-color: $darkBlue;
}

.btn:hover {
  background: $darkBlue;
  color: $white;
  box-shadow: $darkBlue;
}

